.Connexion {
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    background-color: tomato;
}


.authContainer img {
    height: 40px;
    border-radius: 100%;
}

.authContainer select {
    width: 200px;
    font-size: 60px;
}

.authContainer {
    position: absolute;
    top:25vh;
    background-color: white;
    border-radius: 8px;
    padding:20px 10px;
    margin-left: 20vw;
    width:60vw;
    box-shadow: 20px 20px 35px rgba(0,0,0,0.3);
 
}