.UIMessage {
    display: flex;
    text-align: left;
    margin-bottom: 5px;
}

.MessagesList:nth-of-type(even){
    color: pink;
}
.UIMessage>*:nth-child(2){
    flex-grow: 1;
    padding-left: 5px;
}

.UIMessage img{
    height: 40px;
    border-radius: 100%;
}

.messageHeader{
    color: grey;

}

.messageText{
    background-color: aquamarine;
    border-radius: 3px;
    padding: 2px 5px;
}